**/.cache
**/.settings
**/.project
**/.classpath
**/.clover
**/.factorypath
**/bin
**/target
**/.DS_store
**/.vagrant
.settings
.project
.classpath
.idea/*
**/.idea/*
*.iml
**/timers
**/spy.log
!.idea/runConfigurations
*.bak
*.log
*.dot
